<div class="md_column1300">

    <h1><i class="fa fa-shopping-cart"></i> Корзина</h1>

    <div class="md_column320" style="width: 67%; padding: 0 8px 0 0; margin-left: -8px;">
        <div name="cart_dataview" style="height: 360px; width: 100%;"></div>
    </div>

    <div class="md_column320" name="cart_order" style="padding: 0; width: 26%; min-width: 262px;">

        <table class="aligncenter" style="line-height: 40px">
            <tr>
                <td style="border-bottom: 1px #ddd dashed;">Товары (2)</td>
                <td align="right" style="border-bottom: 1px #ddd dashed;">1300</td>
            </tr>

            <tr vertical-align: baseline;>
                <td>Всего:</td>
                <td align="right" style="font-size: 2em;">1300 <i class="fa fa-rub" style="font-size: smaller"></i></td>
            </tr>

            <tr>
                <td colspan="2">
                    <a href="#" class="dropdown_list" style="display: inline-block; line-height: normal" title="Наличие в магазинах">Можно забрать сегодня</a>
                </td>
            </tr>

            <tr>
                <td>Бонусных рублей за заказ</td>
                <td align="right">190</td>
            </tr>

            <tr>
                <td colspan="2">
                    <button name="order_order" class="md_btn btn-red btn-fluid">Оформить заказ</button>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <p style="margin: 0">Оплатите онлайн – получите скидку 5%</p>
                </td>
            </tr>

            <tr style="cursor: pointer">
                <td><i class="fa fa-square-o fa-lg"></i>  Оплатить картой</td>
                <td align="right"><i class="fa fa-cc-visa"></i>&nbsp;<i class="fa fa-cc-mastercard"></i></td>
            </tr>

        </table>

    </div>

</div>