<div class="clipper wdg_product_checkout">
    <div class="scroller">
        <div class="container">

            <!-- РАЗДЕЛ 1 - выбор способа оплаты -->
            <div class="header">
                <div class="header__title" name="header">
                    <span name="title">Способ оплаты</span>
                </div>
            </div>
            <div name="billing_kind" style="padding: 10px; background: #f5f5f5;">

                <ul class="margin-0 padding-0 billing-systems inline-ul min-width-800px">
                    <li class="margin-right-2px active">
                        <a class="width-104px height-66px display-block border-radius-5px bs-logo logo-visa" href="#"></a>
                        Банковские<br>карты
                        <b class="z-index-2"></b>
                    </li>
                    <li class="margin-right-2px">
                        <a class="width-104px height-66px display-block border-radius-5px bs-logo logo-pcards" href="#"></a>
                        Наличные<br>при получении
                        <b class="z-index-2"></b>
                    </li>
                    <li class="margin-right-2px">
                        <a class="width-104px height-66px display-block border-radius-5px bs-logo logo-qiwi" href="#"></a>
                        QIWI <br> Кошелек
                        <b class="z-index-2"></b>
                    </li>
                    <li class="margin-right-2px">
                        <a class="width-104px height-66px display-block border-radius-5px bs-logo logo-webmoney" href="#"></a>
                        WebMoney<br>WMR, WMZ
                        <b class="z-index-2"></b>
                    </li>
                    <li class="margin-right-2px">
                        <a class="width-104px height-66px display-block border-radius-5px bs-logo logo-ymoney" href="#"></a>
                        Яндекс <br> Деньги
                        <b class="z-index-2"></b>
                    </li>
                    <li class="margin-right-2px">
                        <a class="width-104px height-66px display-block border-radius-5px bs-logo logo-cash" href="#"></a>
                        Безналичный<br>платеж
                        <b class="z-index-2"></b>
                    </li>
                    <li class="margin-right-2px">
                        <a class="width-104px height-66px display-block border-radius-5px bs-logo logo-robox" href="#"></a>
                        Другие <br> способы оплаты
                        <b class="z-index-2"></b>
                    </li>
                </ul>

                <div class="opacity-03 hr bg-666">&nbsp;</div>

                <div class="billing-systems-container">
                    <div class="billing-system visa-container">
                        <table border="0" cellpadding="0" cellspacing="0" class="text_tbl">
                            <tbody><tr>
                                <td>
                                    <p class="tit">Моментальная оплата платежными картами Visa и Mastercard</p>
                                </td>
                            </tr>
                            </tbody></table>
                    </div>
                    <div class="billing-system qiwi-container hide">
                        <table border="0" cellpadding="0" cellspacing="0" class="text_tbl">
                            <tbody><tr>
                                <td>
                                    <p class="tit">
                                        Моментальная оплата с помощью <a href="https://qiwi.com/landing/other.action" target="_blank">QIWI кошелька</a> (Россия).<br>
                                        1. Введите номер QIWI Кошелька (номер сотового телефона)<br>
                                        2. Оплатите автоматически созданный счет на оплату: на сайте <a href="https://qiwi.com/landing/other.action" target="_blank">QIWI Кошелька</a>, терминале QIWI, с помощью приложения для социальных сетей или мобильного <a href="https://w.qiwi.com/applications/main.action" target="_blank">телефона</a>.<br>
                                        QIWI Кошелек легко <a href="https://w.qiwi.com/replenish/main.action" target="_blank">пополнить</a> в терминалах QIWI и партнеров, банковскими картами, салонах сотовой связи, супермаркетах, банкоматах или через интернет-банк. Совершать платежи Вы можете не только со счета QIWI Кошелька, но и банковской картой, наличными, а также с лицевого счета мобильного телефона.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                            </tr></tbody></table>
                    </div>
                    <div class="billing-system webmoney-container hide">
                        <table border="0" cellpadding="0" cellspacing="0" class="text_tbl">
                            <tbody><tr>
                                <td>
                                    <p class="tit">Моментальная оплата через систему WebMoney в валютах WMZ и WMR.</p>
                                </td>
                            </tr>
                            </tbody></table>
                    </div>
                    <div class="billing-system ymoney-container hide">
                        <table border="0" cellpadding="0" cellspacing="0" class="text_tbl">
                            <tbody><tr>
                                <td>
                                    <p class="tit ym-descriptor PC ">
                                        Оплатить заказ можно электронными деньгами Яндекс.Деньги, а также банкоматах Сбербанка и салонах сотовой связи («Евросеть», «Связной»)
                                    </p>
                                </td>
                            </tr>
                            </tbody></table>
                    </div>
                    <div class="billing-system pcards-container hide">
                        <table border="0" cellpadding="0" cellspacing="0" class="text_tbl">
                            <tbody><tr>
                                <td><p class="tit">Оплата через курьера при получении заказа</p></td>
                            </tr>
                            </tbody></table>
                    </div>
                    <div class="billing-system cash-container hide">
                        <table border="0" cellpadding="0" cellspacing="0" class="text_tbl">
                            <tbody><tr>
                                <td><p class="tit">Безналичная оплата для Юридических лиц</p></td>
                            </tr>
                            </tbody></table>
                    </div>
                    <div class="billing-system robox-container hide">
                        <table border="0" cellpadding="0" cellspacing="0" class="text_tbl">
                            <tbody><tr>
                                <td>
                                    <p class="tit">
                                        Вы можете мгновенно оплатить заказ различными электронными валютами при помощи сервиса ROBOKASSA.<br>
                                        При помощи этой службы вы можете пополнить счет через терминалы мгновенной оплаты, через систему денежных переводов Contact,
                                        с помощью кредитных карт, а также многими видами электронных денег
                                    </p>
                                </td>
                            </tr>
                            </tbody></table>
                    </div>
                </div>

            </div>


            <!-- РАЗДЕЛ 2 - доставка -->
            <div class="header">
                <div class="header__title header__title_state_fixed">Доставка</div>
            </div>
            <div name="delivery">
                <p class="text">Выбор способа доставки</p>
            </div>


            <!-- РАЗДЕЛ 3 - завершение -->
            <div class="header">
                <div class="header__title header__title_state_fixed">Оформить заказ</div>
            </div>
            <div name="order">
                <p class="text"><i class="fa fa-info-circle fa-lg"></i> Оформление заказа отключено в демо-версии</p>
            </div>

            <div class="load" style="height: 0px;">
                <div class="load__value" style="width: 0%;"></div>
            </div>

        </div>
    </div>

    <div class="scroller__track">
        <div class="scroller__bar" style="height: 26px; top: 0px;"></div>
    </div>

</div>