<div class="md_column1300">
    <h1><i class="fa fa-opencart"></i> Интернет-магазин MetaStore</h1>

    <div class="md_column300">
        <p class="text-center small-margin">
            <!-- Start round icon -->
            <a href="#" class="apex-icon-round">
            <span class="apex-icon">
                <i class="apex-icon-shopping-basket"></i>
            </span>
                <span class="apex-icon-title">Типовая 1С</span>
            </a>
            <!-- End round icon -->
            MetaStore - это веб-интерфейс<br />
            к типовым конфигурациям 1С, реализующий функциональность интернет-магазина
        </p>
    </div>

    <div class="md_column300">
        <p class="text-center small-margin">
            <!-- Start round icon -->
            <a href="#" class="apex-icon-round">
            <span class="apex-icon">
                <i class="fa fa-github-alt" style="line-height: 78px;"></i>
            </span>
                <span class="apex-icon-title">Веб-приложение с открытым кодом</span>
            </a>
            <!-- End round icon -->
            Разработано на базе <a href="http://www.oknosoft.ru/metadata/" target="_blank">Metadata.js</a><br />
            Исходный код и документация<br />доступны на <a href="https://github.com/oknosoft/metastore" target="_blank">GitHub <i class="fa fa-github-alt"></i></a>
            <br />&nbsp;
        </p>
    </div>

    <div class="md_column300">
        <p class="text-center small-margin">
            <!-- Start round icon -->
            <a href="#" class="apex-icon-round">
            <span class="apex-icon">
                <i class="apex-icon-connect"></i>
            </span>
                <span class="apex-icon-title">Готовое решение</span>
            </a>
            <!-- End round icon -->
            Подключается в один клик:<br />
            1С:Управление торговлей,<br />
            1С:Комплексная автоматизация,<br />
            1С:ERP Управление предприятием
        </p>
    </div>

    <div class="md_column300">
        <p class="text-center small-margin">
            <!-- Start round icon -->
            <a href="#" class="apex-icon-round">
            <span class="apex-icon">
                <i class="apex-icon-equilizer"></i>
            </span>
                <span class="apex-icon-title">Простота настроек</span>
            </a>
            <!-- End round icon -->
            Иерархия, свойства номенклатуры, остатки и цены, настраиваются в привычных для пользователей<br />формах 1С
        </p>
    </div>

    <div style="padding: 24px 0 24px 0; background-color: #f5f5f5; clear: both; display: inline-block">

        <div class="md_column320">
            <p>
                <img class="aligncenter" src="templates/imgs/phone-2.png" alt="phone" width="332" height="409">
            </p>
        </div>

        <div class="md_column320">
            <h2 class="light">Поддержка мобильных устройств</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p><a href="#" class="btn">Learn More</a></p>
        </div>

    </div>

</div>