<table width='100%'>
    <tr>
        <td rowspan='2' width='90px'>
            <div class='dataview_list_image' style='{common.image()}'></div>
        </td>
        <td>
            {obj.name}
        </td>
        <td width='100px' align='right'>
            <div style='display: inline-flex'>
                <i class='fa fa-minus-square-o fa-lg' style='line-height: inherit; cursor: pointer;'></i>&nbsp;
                <input type='text' size='1' value='{obj.count}' style='text-align: center;' >&nbsp;
                <i class='fa fa-plus-square-o fa-lg' style='line-height: inherit; cursor: pointer;'></i>
            </div>
        </td>
        <td width='100px' align='right'>
            {common.price()}
        </td>
    </tr>
    <tr>
        <td colspan='3'>{obj.Описание}&nbsp;</td>
    </tr>
</table>
