<div>
    <div class='dataview_small_image' style='{common.image()}'></div>
    <div class='dv_price'>{common.price()}</div>
    <div class='dv_iconset'>
        <i class='fa fa-cart-plus dv_icon_cart' title='Добавить в корзину'></i>&nbsp;
        <i class='fa fa-bar-chart dv_icon_add_compare' title='Добавить к сравнению'></i>&nbsp;
        <i class='fa fa-times dv_icon_remove_viewed' title='Удалить из списка просмотренных'></i>
    </div>
</div>
<div style='clear: both; text-align: center;'>{obj.name}</div>
