<div class="clipper wdg_product_accordion">
    <div class="scroller">
        <div class="container">

            <div class="header">
                <div class="header__title" name="header">
                    <span name="title">Товар</span>
                </div>

            </div>

            <div name="path" style="padding: 8px">

            </div>
            <div name="main">
                <p class="text">Baron is a title of nobility. In the kingdom of England, the medieval Latin word baro, baronis was used originally to denote a tenant-in-chief of the early Norman kings who held his lands by the feudal tenure of "barony" (in Latin per baroniam), and who was entitled to attend the Great Council which by the 13th century had developed into the Parliament of England.
                </p>
                <p class="text">The title was quite common in most European countries often in a slightly modified form. In Italian, the word used was Barone. The corresponding title in the Holy Roman Empire was Freiherr.</p>
            </div>

            <div class="header">
                <div class="header__title header__title_state_fixed header__title_position_bottom">Описание и характеристики</div>
            </div>
            <div name="description">
                <p class="text">The word baron comes from the Old French baron, from a Late Latin baro "man; servant, soldier, mercenary" (so used in Salic Law; Alemannic Law has barus in the same sense). Isidore in the 7th century thought the word was from Greek βαρύς "heavy" (because of the "heavy work" done by mercenaries), but the word is presumably of Old Frankish origin, cognate with Old English beorn meaning "warrior, nobleman"). Cornutus in the first century already reports a word barones which he took to be of Gaulish origin. He glosses it as meaning servos militum and explains it as meaning "stupid", by reference to classical Latin bāro "simpleton, dunce"; because of this early reference, the word has also been suggested to derive from an otherwise unknown Celtic *bar, but OED takes this to be "a figment".</p>
            </div>


            <div class="header">
                <div class="header__title header__title_state_fixed">Комментарии, обзоры, вопрос-ответ</div>
            </div>
            <div name="notes">
                <p class="text">Пока нет ни одного комментария, ваш будет первым</p>
            </div>


            <div class="header">
                <div class="header__title header__title_state_fixed">Драйверы и файлы</div>
            </div>
            <div name="download">
                <p class="text">Для данного товара файлы и драйверы не требуются</p>
            </div>

            <div class="load" style="height: 0px;">
                <div class="load__value" style="width: 0%;"></div>
            </div>

        </div>
    </div>

    <div class="scroller__track">
        <div class="scroller__bar" style="height: 26px; top: 0px;"></div>
    </div>

</div>