<div class="clipper wdg_product_accordion">
    <div class="scroller">
        <div class="container">

            <div class="header">
                <div class="header__title" name="header">
                    <span name="title">Товар</span>
                </div>

            </div>

            <div name="path" style="padding: 8px">

            </div>

            <!-- РАЗДЕЛ 1 - картинка и кнопки покупки -->
            <div name="main">
                <div class="md_column320" style="min-height: 350px;">
                    <img class="product_img aligncenter" src="">
                    <div class="product_carousel aligncenter"></div>
                </div>
                <div class="md_column320" name="order" style="padding-top: 0;">
                    <div>
                        <h3 name="order_title"></h3>
                        <p name="order_price" style="margin: 8px 0 0 0; font-size: 2em;">1300 <i class="fa fa-rub" style="font-size: smaller"></i></p>
                        <div class="rating" data-rating="0"><div class="fill-rating"></div></div>
                        <p style="margin: 0">Этот товар еще никто не оценил.</p>
                        <a href="#" class="dropdown_list" style="display: inline-block;" title="Наличие в магазинах">Можно забрать сегодня</a>
                        <p name="order_warranty" style="margin: 8px 0 0 0">Гарантия: 12 мес.</p>
                        <p name="order_brand" style="margin: 8px 0 0 0"></p>

                        <button name="order_cart" class="md_btn btn-red btn-fluid"><i class="fa fa-cart-plus fa-fw"></i> Добавить в корзину</button>
                        <button name="order_compare" class="md_btn btn-grey btn-fluid"><i class="fa fa-bar-chart fa-fw"></i> К сравнению</button>


                    </div>
                </div>
            </div>

            <!-- РАЗДЕЛ 2 - описание и реквизиты -->
            <div class="header">
                <div class="header__title header__title_state_fixed">Описание и характеристики</div>
            </div>
            <div>
                <!-- Здесь описание товара -->
                <div class="md_column320" name="description">

                </div>
                <!-- Здесь OHeadFields товара -->
                <div class="md_column320" name="properties" style="min-height: 300px;">

                </div>
            </div>


            <!-- РАЗДЕЛ 3 - отзывы с Маркета -->
            <div class="header">
                <div class="header__title header__title_state_fixed">Отзывы, вопрос-ответ</div>
            </div>
            <div name="notes">
                <p class="text">Пока нет ни одного комментария, ваш будет первым</p>
            </div>


            <div class="header">
                <div class="header__title header__title_state_fixed">Драйверы и файлы</div>
            </div>
            <div name="download">
                <p class="text">Для данного товара файлы и драйверы не требуются</p>
            </div>

            <div class="load" style="height: 0px;">
                <div class="load__value" style="width: 0%;"></div>
            </div>

        </div>
    </div>

    <div class="scroller__track">
        <div class="scroller__bar" style="height: 26px; top: 0px;"></div>
    </div>

</div>