<div class="product-review-item product-review-item_collapsed_yes js-review">
    <div class="product-review-user i-bem" onclick="return {'product-review-user':''}">
        <a class="link product-review-user__name" href="/user/m2gtr/reviews" itemprop="author">Алексеев Алексей</a>
        <a class="link product-review-user__reviews" href="/user/m2gtr/reviews">Автор 3&nbsp;отзывов</a>
    </div>
    <div class="product-review-item__stat">
        <div class="rating rating_border_yes hint i-bem hint_js_inited" date-rate="4"
             onclick="return {&quot;hint&quot;:{&quot;content&quot;:&quot;Оценка&nbsp;пользователя&nbsp;4&nbsp;из&nbsp;5&quot;,&quot;offset&quot;:&quot;15&quot;}}"
             itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
            <meta itemprop="ratingValue" content="4">
            4
            <div class="rating__corner">
                <div class="rating__triangle"></div>
            </div>
        </div>
        <span class="product-review-item__rating-label">хорошая модель</span><span
            class="product-review-item__delivery">Опыт использования:&nbsp;менее месяца</span></div>

    <dl class="product-review-item__stat">
        <dt class="product-review-item__title">Достоинства:</dt>
        <dd class="product-review-item__text">Вместительный, 2 компрессора, полка для бутылок экономит место.</dd>
    </dl>
    <dl class="product-review-item__stat">
        <dt class="product-review-item__title">Недостатки:</dt>
        <dd class="product-review-item__text">Работа МК сопровождается очень сильным журчанием... хотя может быть мне
            попался бракованный экземпляр
        </dd>
    </dl>
    <div class="product-review-item__stat  product-review-item__stat_type_inline">
        <div class="product-review-item__title">Комментарий:</div>
        <div class="product-review-item__text">В целом холодильник хороший, как и писал вместительный и компактный,
            очень выигрывает по ценовой политике.<br>объективно: качество пластика перевесных полочек на двери могло бы
            быть и лучше, создается впечателение что они очень хрупкие и вот вот сломаются... но по факту ещё не одну не
            сломал))<br>читал много отзывов и довольно много людей жалаются на противный сигнал при открытии двери
            каждый раз, так вот сигнал этот отключается при отключении режима заморозка, да и этот сигнал довольно
            тихий, как и сигнал при открытии двери ХК более 1 мин<br>По уровню шуму к ХК нареканий никаких нет,
            компрессоры оба тихие, но вот к циркуляции хладогента в МК претензии есть,<br>при работе слышен звук на
            подобие бульканя воды в батареях, он вроде и не громкий но жутко раздражает, обратился в сервис сказали что
            бульканье это нормальное явления и не захотели приезжать...<br>так что совет проверяйте холодильник на
            уровень шума прямов магазине
        </div>
    </div>
    <div class="product-review-item__footer layout layout_display_table">
        <div class="layout__col">12 мая
            <meta itemprop="datePublished" content="2015-05-12T17:55:02">
            ,&nbsp;Санкт-Петербург
        </div>
        <div class="layout__col layout__col_align_right">
            <div class="review-voting review-voting_active_yes manotice manotice_type_popup i-bem review-voting_js_inited manotice_js_inited"
                 onclick="return {&quot;review-voting&quot;:{&quot;sk&quot;:&quot;ua2238057ac558861fac690d2527fa046&quot;},&quot;manotice&quot;:{&quot;directions&quot;:&quot;right&quot;,&quot;autoclosable&quot;:&quot;yes&quot;}}">
                <div class="review-voting__plus"></div>
                <div class="review-voting__minus"></div>
                <div class="spin spin_theme_gray-16 i-bem spin_js_inited" onclick="return {'spin':{}}"></div>
            </div>
        </div>
    </div>
</div>