<div class="md_column1300">
    <h1><i class="fa fa-cogs"></i> Настройки</h1>
    <p>В промышленном режиме данная страница выключена.<br />
        Внешний вид сайта и параметры подключения, настраиваются в конфигурационном файле.<br />
        В демо-ражиме страница настроек иллюстрирует использование параметров работы программы клиентской частью приложения.</p>

    <div class="md_column320" name="form1" style="max-width: 420px;"><div></div></div>
    <div class="md_column320" name="form2"><div></div></div>
    <div class="md_column320" name="form3"><div></div></div>
</div>