.dhxtree_dhx_web span.standartTreeRow, .dhxtree_dhx_web span.selectedTreeRow {
	font-size: 14px;
}

div.dhxsidebar_item_text {
	font-size: 14px;
}

div.search {
	margin-top: 4px;
	float: left;
	padding: 0;
	height: 28px;
}

input.search {
	font-size: 14px;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 4px 6px;
	line-height: 20px;
	color: #333;
	width: 360px;

}

.dhx_pager {
	position: absolute;
	bottom: 2px;
	z-index: 100;
	left: 2px;
	background-color: #fff;
}
.paging_text {
	font-size: 10pt;
	float: left;
	padding: 3px 10px 0px 10px;
}
.dhx_pager_item, .dhx_pager_item_selected {
	padding: 0px 4px;
	margin: 2px 6px;
	height: auto;
}

.dhx_pager_item:hover{
	background-color: #ccc;
}

/*
.dhx_dataview_[css]_item - applied to items in the unselected state
.dhx_dataview_[css]_item_selected - applied to items in the selected state

.dataview_medium {
	color: #333;
}
.dataview_small {
	color: #333;
}
*/

.dhx_dataview_item {
	font-family: Segoe UI, Tahoma, sans-serif;
	font-size: 16px;
}

.dataview_price {
	float: right;
	margin: 16px 8px;
	font-size: 28px;
}

.dataview_list_image {
	float: left;
	margin: 4px;
	height: 90px;
	width: 90px;
	background-size: cover;
}

.dataview_small_image {
	float: left;
	margin: 4px;
	height: 120px;
	width: 120px;
	background-size: cover;
}

.dataview_large_image {
	float: left;
	margin: 4px;
	height: 200px;
	width: 200px;
	background-size: cover;
}

.dhx_dataview_list_item {
	width: 100%;
	background-color: #fffefa;
	border-bottom: 1px #ccc dashed;
}

.dhx_dataview_list_item_selected {
	width: 100%;
	background-color: #eee;
	border-bottom: 1px #ccc dashed;
}

.dhx_dataview_large_item {
	background-color: #fffefa;
	border: 1px #ccc dashed;
}

.dhx_dataview_large_item_selected {
	background-color: #eee;
	border: 1px #ccc dashed;
}

.dhx_dataview_small_item {
	background-color: #fffefa;
	border: 1px #ccc dashed;
}

.dhx_dataview_small_item_selected {
	background-color: #eee;
	border: 1px #ccc dashed;
}

.multi_checkbox {
	width: 100%;
	height: 160px;
	margin: 8px 0;
	border: none !important;
}