.dhxtree_dhx_web span.standartTreeRow, .dhxtree_dhx_web span.selectedTreeRow {
	font-size: 14px;
}

div.dhxsidebar_item_text {
	font-size: 14px;
}

.dhxsidebar_base_dhx_web div.dhxcelltop_toolbar,
.dhxsidebar_base_dhx_terrace div.dhxcelltop_toolbar {
	padding-bottom: 1px;
}

.dhxlayout_base_dhx_terrace div.dhx_cell_layout div.dhx_cell_cont_layout,
.dhxlayout_base_dhx_web div.dhx_cell_layout div.dhx_cell_cont_layout,
.dhx_cell_hdr_hidden {
	border: none !important;
}

.dhxlayout_base_dhx_web div.dhx_cell_layout div.dhx_cell_cont_layout {
	padding: 0 !important;
}

.label_options{
	padding-top: 8px;
	border-bottom: 1px solid #eee;
}

.catalog_path {
	font-family: Arial;
	font-size: 14px;
}

div.search {
	margin-top: 4px;
	float: left;
	padding: 0;
	height: 28px;
}

input.search {
	font-size: 14px;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 4px 6px;
	line-height: 20px;
	color: #333;
	width: 360px;

}

.dhx_pager {
	position: absolute;
	bottom: 2px;
	z-index: 100;
	left: 2px;
	background-color: #fff;
}
.paging_text {
	font-size: 10pt;
	float: left;
	padding: 3px 10px 0px 10px;
}
.dhx_pager_item, .dhx_pager_item_selected {
	padding: 0px 4px;
	margin: 2px 6px;
	height: auto;
}

.dhx_pager_item:hover{
	background-color: #ccc;
}

.wb-tools {
	background: rgba(255,254,250, 0.9);
}

.dhx_dataview_item {
	font-family: Segoe UI, Tahoma, sans-serif;
	font-size: 16px;
}

.dataview_price {
	float: right;
	margin: 8px;
	font-size: 24px;
}

.dhx_dataview_small_item .dataview_price, .dhx_dataview_small_item_selected .dataview_price {
	font-size: 20px;
}

.dataview_list_image {
	float: left;
	margin: 4px;
	height: 90px;
	width: 90px;
	background-size: cover;
}

.dataview_small_image {
	float: left;
	margin: 4px;
	height: 120px;
	width: 120px;
	background-size: cover;
}

.dataview_large_image {
	float: left;
	margin: 4px;
	height: 200px;
	width: 200px;
	background-size: cover;
}

.dhx_dataview_list_item {
	width: 100%;
	border-bottom: 1px #ccc dashed;
}

.dhx_dataview_list_item_selected {
	width: 100%;
	background-color: #f5f5f5;
	border-bottom: 1px #ccc dashed;
}

.dhx_dataview_large_item {
	border: 1px #ccc dashed;
}

.dhx_dataview_large_item_selected {
	background-color: #f5f5f5;
	border: 1px #ccc dashed;
}

.dhx_dataview_small_item {
	border: 1px #ccc dashed;
}

.dhx_dataview_small_item_selected {
	background-color: #f5f5f5;
	border: 1px #ccc dashed;
}

.multi_checkbox {
	width: 100%;
	height: 160px;
	margin: 8px 0;
	border: none !important;
}