.dhxtree_dhx_web span.standartTreeRow, .dhxtree_dhx_web span.selectedTreeRow {
	font-size: 14px;
}

div.dhxsidebar_item_text {
	font-size: 14px;
}

.dhxsidebar_base_dhx_web div.dhxcelltop_toolbar,
.dhxsidebar_base_dhx_terrace div.dhxcelltop_toolbar {
	padding-bottom: 1px;
}

.dhxsidebar_base_dhx_terrace div.dhxsidebar_cont div.dhx_cell_sidebar div.dhx_cell_sidebar_hdr div.dhx_cell_sidebar_hdr_icon,
.dhxsidebar_base_dhx_web div.dhxsidebar_cont div.dhx_cell_sidebar div.dhx_cell_sidebar_hdr div.dhx_cell_sidebar_hdr_icon{
	left: 6px;
	width: 24px;
}

.dhxlayout_base_dhx_terrace div.dhx_cell_layout div.dhx_cell_cont_layout,
.dhxlayout_base_dhx_web div.dhx_cell_layout div.dhx_cell_cont_layout,
.dhx_cell_hdr_hidden {
	border: none !important;
}

.dhxlayout_base_dhx_web div.dhx_cell_layout div.dhx_cell_cont_layout {
	padding: 0 !important;
}


/* APEX */

.apex-icon-title {
	display: table-cell;
	vertical-align: middle;
	font-size: 17px;
	font-weight: 500;
	padding-left: 20px;
	padding-bottom: 8px;
}

.apex-icon-round .apex-icon-title {
	display: block;
	vertical-align: inherit;
	padding-left: 0;
}

.apex-icon-round .apex-icon {
	display: inline-block;
	padding: 8px;
	border: 2px solid #cdcdcd;
	border-radius: 50px;
	margin-bottom: 16px;
	-webkit-transition: border-color .25s ease;
	transition: border-color .25s ease;
}

.apex-icon i {
	display: inline-block;
	width: 50px;
	height: 50px;
	font-size: 25px;
	line-height: 50px;
	text-align: center;
	color: #666;
	background-color: transparent;
	border: 2px solid #cdcdcd;
	border-radius: 5px;
	-webkit-transition: color .25s ease, background-color .25s ease, border-color .25s ease;
	transition: color .25s ease, background-color .25s ease, border-color .25s ease;
}

.apex-icon-round i {
	width: 80px;
	height: 80px;
	font-size: 36px;
	line-height: 84px;
	border: none;
	border-radius: 40px;
}

a.apex-icon-round:hover i {
	color: #FFF;
	background-color: #33cccc;
	border-color: #33cccc;
}

:before, :after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.text-center {
	text-align: center;
}

.small-margin {
	margin-bottom: 10px;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a.apex-icon-round, a.apex-icon-title {
	color: #666;
	text-decoration: none;
	-webkit-transition: color .25s ease;
	transition: color .25s ease;
}

/* /APEX */


/* чекбокс в таблице*/
div.gridbox_dhx_terrace.gridbox table.obj tr td {
	padding-left: 6px;
}

.label_options{
	padding-top: 8px;
	border-bottom: 1px solid #eee;
}

.md_column320 {
	width: 48%;
	min-width: 320px;
	float: left;
	padding: 8px;
}

.md_column300 {
	width: 24%;
	min-width: 300px;
	float: left;
	padding: 4px;
}

.md_column1300 {
	width: 92%;
	max-width: 1300px;
	position: relative;
	left: 50%;
	margin-left: -46%;
/*	font-size: smaller; */
	line-height: normal;
}
.md_column1300>ul {
	padding-left: 20px;
	margin: 0 0 0.5em 0;
}
.md_column1300>p, .md_column1300>h1, .md_column1300>h2, .md_column1300>h3 {
	margin: 0.2em 0 0.4em 0;
}

.md_muted_color {
	color: #4f535f;
}

.md_form {
	width: 100%;
}

.catalog_path {
	font-family: Arial;
	font-size: 14px;
}

.icon_search {
	position: absolute;
	top: .45em;
	right: .45em;
	cursor: pointer;
	color: #ccc;
}

.icon_search:hover,
input.search:hover + .icon_search,
input.search:focus + .icon_search{
	color: #777;
}

input.search:hover, input.search:focus {
	border-color: #777;
}

div.search {
	margin-top: 4px;
	float: left;
	padding: 0;
	height: 28px;
	width: 100%;
	position: relative;
}

input.search {
	box-sizing: border-box;
	font-size: 14px;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 4px 24px 4px 6px;
	line-height: 20px;
	color: #333;
	width: 100%;
}

.dhx_pager {
	position: absolute;
	bottom: 2px;
	z-index: 100;
	left: 2px;
	background-color: #fff;
}
.paging_text {
	font-size: 10pt;
	float: left;
	padding: 3px 10px 0px 10px;
}
.dhx_pager_item, .dhx_pager_item_selected {
	padding: 0px 4px;
	margin: 2px 6px;
	height: auto;
}

.dhx_pager_item:hover{
	background-color: #ccc;
}

.wb-tools {
	background: rgba(255,254,250, 0.9);
}

.dhx_dataview_item {
	font-family: Segoe UI, Tahoma, sans-serif;
	font-size: 16px;
}

.dataview_price {
	float: right;
	margin: 8px;
	font-size: 24px;
}

.dhx_dataview_small_item .dataview_price, .dhx_dataview_small_item_selected .dataview_price {
	font-size: 20px;
}

.dataview_list_image {
	float: left;
	margin: 4px;
	height: 90px;
	width: 90px;
	background-size: cover;
}

.dataview_small_image {
	float: left;
	margin: 4px;
	height: 120px;
	width: 120px;
	background-size: cover;
}

.dataview_large_image {
	float: left;
	margin: 4px;
	height: 200px;
	width: 200px;
	background-size: cover;
}

.dhx_dataview_list_item {
	width: 100%;
	border-bottom: 1px #ccc dashed;
}

.dhx_dataview_list_item_selected {
	width: 100%;
	background-color: #f5f5f5;
	border-bottom: 1px #ccc dashed;
}

.dhx_dataview_large_item {
	border: 1px #ccc dashed;
}

.dhx_dataview_large_item_selected {
	background-color: #f5f5f5;
	border: 1px #ccc dashed;
}

.dhx_dataview_small_item {
	border: 1px #ccc dashed;
}

.dhx_dataview_small_item_selected {
	background-color: #f5f5f5;
	border: 1px #ccc dashed;
}

.multi_checkbox {
	width: 100%;
	height: 160px;
	margin: 8px 0;
	border: none !important;
}

.product_img {
	height: 300px;
}

.product_carousel {
	position: relative;
	width: 400px;
	height: 430px;
	border: none;
}

/* RATING */
.rating {
	display: inline-block;
	width: 80px;
	margin: 1em 25px 0 0;
	height: 14px;
	background: url(imgs/rating.png)repeat-x;
}
fill-rating{
	background: url(imgs/rating-fill.png)repeat-x;
}

.rating .fill-rating, .rating[data-rating="0"] .fill-rating {
	width: 0;
}
.rating[data-rating="1"] .fill-rating {	width: 32px; }
.rating[data-rating="2"] .fill-rating {	width: 32px; }
.rating[data-rating="3"] .fill-rating {	width: 48px; }
.rating[data-rating="4"] .fill-rating {	width: 64px; }
.rating[data-rating="5"] .fill-rating {	width: 80px; }


/* BUTTON */
.md_btn.btn-fluid {
	width: 260px;
	padding: 0 0 0 1em;
	text-align: left;
	margin-top: .8em;
}

.md_btn {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 0;
	border: 0;
	font-size: 1.1em;
	line-height: 1.5em;
	font-weight: 700;
	height: 2.6em;
	vertical-align: middle;
	cursor: pointer;
	background-color: #ed1c24;
	color: #fff;
	word-break: break-all;
	border-radius: .4em;
	outline: 0;
}

.btn-grey {
	background: #747f7f;
	border: 1px solid #747f7f;
	text-decoration: none;
}
.btn-grey:hover {
	background-color: #636466;
}

.btn-red:hover {
	background-color: #b11116;
}


@media (max-width: 1470px) {

	.md_column300 {
		width: 46%;
	}

}

@media (max-width: 640px) {

	.dhx_dataview_item {
		font-size: 14px;
	}

	.md_column1300 {
		font-size: smaller;
	}

	.md_column300 {
		width: 100%;
		padding: 0;
	}

	.product_carousel {
		width: 320px;
		height: 340px;
	}

}